.header {
background-color: var(--withe);
    padding: 20px;
    padding-bottom: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
}

.header-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-logo {
    width: 150px;
    object-fit: contain;
}

.header-search-box {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.header-search {
    width: 850px;
    height: 60px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 15px;
    background-color: var(--color-gray-1);
    font-size: 14px;
    font-family: yekan;
}

.icon-search {
    width: 70px;
    height: 100px;
    font-size: 24px;
    background-color: var(--color-pink-1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    color: var(--withe);
    cursor: pointer;
    transition: all 0.3s;
}

.icon-search:hover {
    background-color: var(--color-gray-2);
}

.btn-sign {
    color: var(--color-gray-2);
    padding: 0 20px;
    font-size: 15px;
    display: flex;
    border: 2px solid var(--color-gray-3);
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    transition: all 0.3s;
    height: 58px;
}

.btn-sign:hover {
    color: var(--color-pink-1);
    border: 2px solid var(--color-pink-1);
}

.icon-user {
    color: var(--color-gray-3);
    transition: all 0.3s;
}

.btn-sign:hover .icon-user {
    color: var(--color-pink-1);
}

.btn-shop {

    color: var(--color-gray-2);
    padding: 0 17px;
    display: flex;
    border: 2px solid var(--color-gray-3);
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    transition: all 0.3s;
    position: relative;
    height: 58px;
}

.icon-shop {
    font-size: 25px;
}

.cunt-shop {
    background-color: var(--color-pink-1);
    color: var(--withe);
    width: 15px;
    height: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all 0.3s;
}

.btn-shop:hover .cunt-shop {
    transform: scale(1.5);
    top: 17px;
    left: 22px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}